body {
    font-family: Arial, sans-serif;
    background: #f4f6f8;
    background: red !important;
}

.login-box {
    width: 300px;
    margin: 120px auto;
    padding: 25px;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.login-box h2 {
    text-align: center;
}

.login-box input,
.login-box button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

.login-box button {
    background: black;
    color: white;
    border: none;
    cursor: pointer;
}

.error {
    color: red;
    text-align: center;
}
